:root {
  --dark-blue50: rgba(234, 240, 255, 1);
  --dark-blue100: rgba(217, 227, 255, 1);
  --dark-blue200: rgba(186, 202, 255, 1);
  --dark-blue300: rgba(144, 167, 255, 1);
  --dark-blue400: rgba(101, 118, 255, 1);
  --dark-blue500: rgba(65, 71, 255, 1);
  --dark-blue600: rgba(45, 32, 255, 1);
  --dark-blue700: rgba(37, 21, 237, 1);
  --dark-blue800: rgba(29, 20, 184, 1);
  --dark-blue900: rgba(30, 26, 149, 1);
  --dark-blue950: rgba(20, 16, 86, 1);
}
